#submit-post {
    width: 100px;
    height: 30x;
    padding:auto;
    margin: 5px 0px 5px 0px;
    float:right;
}

#new-post {
    margin:auto;
    padding: 10px 20px 10px 20px;
    margin-top:20px;
}

#post-text {
    width: 100%;
    margin-top:10px;
    border-color: rgb(181, 181, 181);
}

#post-box {
    height:120px;
    padding-top:10px;
}

#post-likes {
    float: right;
    position:relative;
}

#post-user {

    padding: 2px 7px 3px 7px;
    background-color: rgb(74, 153, 255);
    font-size: small;
    color: white;
    text-align: center;
    float:right;
    position:absolute;
    bottom:60px;
    right:5px;
}

#post-date {
    color: grey;
    float:right;
    margin-top:15px;
}

#post-likes {
    float:left;
    color:grey;
    margin-top:15px;
}

.post-like {
    width: 15px;
    margin-bottom:5px;
    margin-right: 10px;
}
.post-like:hover {
    width: 17px;
}


#user-profile-details {

    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    padding:20px;
    flex-direction: row;
}

#user-profile-name {

    display: flex;
    justify-content: center;
}

#follow-button {

    margin-left:20px;
    font-size: small;
    height:max-content;
    width: max-content;

}
#user-posts-title {
    margin-top:20px;
    padding:20px;
    display: flex;
    justify-content: flex-start;
}

#post-details{
    position:relative;


}
#posts-view {
    margin-top:50px;
}

#user-follow-details {
    padding-left:20px;
}

#pagination {
    margin: 20px;
    margin-right:0px;
    float:right;
}

.edit-post {
    font-size:medium;
    position:absolute;
    margin:9px;
    right:180px;
    /* bottom:45px; */
}

.post-content {
    margin-top:5px;
    max-width:95%;
    height:55px;
    z-index: 1;
}

